<form class="container p-3">
  <div class="form-group">
    <input type="text" id="name" name="name" placeholder="NOMBRE" required="required">
  </div>
  <div class="form-size-12 form-group">
    <input type="email" id="email" name="email" placeholder="CORREO" required="required">
  </div>
  <div class="form-size-12 form-group">
    <input type="tel" id="tel" name="tel" placeholder="TELÉFONO" required="required">
  </div>
  <div class="form-group">
    <textarea name="message" id="message" placeholder="MENSAJE" required="required"></textarea>
  </div>
  <div class="form-group">
    <div class="g-recaptcha" style="float: right" data-sitekey="6LeDrYYUAAAAAEJenpL2jzauGOAtMWicQRsQ8Y3H"></div>
  </div>
  <div class="form-group">
    <input type="button" id="send" name="send" value="ENVIAR">
  </div>
</form>