<div class="b-black">
  <div class="container">
    <div class="footer row">
      <div class="footer-section col-md-3">
        <h4>CLUB DE PLAYA LAS GARZAS</h4>
        <p>Bajamar, Puntarenas</p>
        <p>
          Oficinas: <br>
          Barrio Luján Frente a la Iglesia Católica o 150 al norte de los Bomberos. Casa N° 1236.
        </p>
      </div>
      <div class="footer-section col-md-3">
        <h4>TELÉFONOS</h4>
        <p>
          2427-7005 <br>
          2248-0322 <br>
          Fax: 2223-2560
        </p>
      </div>
      <div class="footer-section col-md-3">
        <h4>CONTÁCTO</h4>
        <p>club.lasgarzas@gmail.com</p>
      </div>
      <div class="footer-section col-md-3 nav-social">
        <h4>SÍGUENOS</h4>
        <a href="https://www.facebook.com/ClubPlayalasGarzas/"><i class="fab fa-facebook-square"></i></a>
        <a href="#"><i class="fab fa-twitter-square"></i></a>
      </div>
    </div>
  </div>
</div>