.footer{
    padding-top: 3em;
    padding-bottom: 2.75em;
    color: #ffffff;
}

.footer-section{
    color: #ffffff;
    border-right: 1px solid #ffffff;
}

.footer-section:last-child{
    border-right: none;
}

.nav-social i{
    color: #ffffff;
    padding-right: 0.5em;
    margin-bottom: 0em;
    font-size: 2em;
}